*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
#wrapper{
    height: 100vh;
    perspective: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}
#container{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    height:100%;
    z-index:-1;
    
}
.background{
    transform: translateZ(-40px) scale(5);
}
.foreground{
    transform:translateZ(-10px) scale(2);
}
.background, .foreground{
   
    position :absolute;
    height:100%;
    width:100%;
    z-index:-1;
    object-fit: cover;
}

#content{
    height:500px;
    border:2px solid black;
    background-color: blueviolet;
}
